*{
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    /* color: black; */
}

.fc{
    padding: 10px;
    margin: 5px;
    min-width: 350px;
}
#date{
    min-width: 130px;
}

.btn {
    width: 100%;
    margin: 5px 0;
}

.selectEmployees{
    width: 100%;
    margin: 5px 0;
}

.dateBlock{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: max-content;
}
