.headerDate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
}

.fileIn {
    margin-top: 5px;
    background-color: rgb(59, 57, 28);
}

.submit{
    display:block;
    width:100%;
    margin-top: 5px;
}

.btn{
    margin-top: 5px;
    width: 100%;
}

.dateBlock{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectEmployees{
    margin-top: 5px;
    width: 100%;   
}

